@chrtset "UTF-8";

/**
* Author:		Adnan
* Name:			Partnerbörse XO CSS
* Version: 		1.2
*/

/*-----------RESET STYLES---------------*/

body {background: #ebebeb !important; 
    padding:0!important; 
    margin:0!important;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #f18487;
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0;
    padding: 0;
}

footer {
    height: 40px;
    width: 100%;
    background: #f18487;
    display: block;
    position: fixed;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}

/*----------- ELEMENT STYLING ---------------*/

#logo img {
    height: 70px;
}
header h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer h3 {text-align: center;}

.stitle{text-align:center;}

#mwrap, #mwrapREP {
    width: 70%;
    margin: 35px auto;
}
#navwrap {
    float: left;
    width: 13%;
    background: #fff !important;
    padding: 10px;
}
.pwrap {
    display: block;
    width: 100%;
    min-height: 250px;
    background: #fff !important;
}
.pwrap .ppic, .pwrap .pinfo, .pwrap .pbtn {
    float: left;
    padding: 10px;
}
.pinfo {
    width: 59%;
}
.pbtn {
    width: 15%;
}
.ppic {
    width: 90%;
    border: solid 5px #f18487;
    vertical-align: middle;
    padding: 2.5% !important;
    transition: ease-in-out all 1s;
}
.ppic:hover {
    transform: rotateY(360deg);
}

/*Navigation Area*/

.mainnav a, .subnav a {
    text-decoration: none;
}

/*Button Area*/

button {
    width: 100%;
    height: 35px;
    margin: 5px 0 !important;
    background: lightblue !important;
    border: none !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border-radius: initial !important;
    max-width: 250px;
}

button:hover {background: lightgreen !important;}

.offbutton {
    background: #f18487 !important;
    margin-top: 3.5em !important;
    color: #fff !important;
    transition: all 1s linear;
    width: 95%;
    height: auto;
    display: block;
    padding: 10px 5px;
    text-align: center;
    font-size: 1.2em;
    max-width: 250px;
}
.offbutton:hover {
    background: #f18487 !important;
    text-decoration: none;
    color: #000 !important;
}
.ebtn {
    max-width: 100% !important;
}
/*Profile Pic Area*/

.ppic img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
}


/*Profile Info Area*/
#contwrap {
    float: left;
    margin-left: 2%;
    width: 82%;
    background: #fff !important;
    padding: 10px;
    margin-bottom: 100px !important;
}
#contwrap table {
    width: 100%;
}
.itable td:nth-child(3) {
    width: 100px;
}
.itable td {
    width: 250px;
}
.etable td {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.etable .gwt-Label {
    color: grey;
}
.itable .offbutton {
    margin: 0 !important;
}
.desctable td:first-child {
    width: 23%;
}
.desctable {
    margin-left: 45px;
}
.desctable textarea{
	width:400px;
	height:50px;
}
.inftab {
    width: 96% !important;
    margin: 0 auto;
    line-height: 2.2em;
    border: 4px double #f18487;
    transition: linear all 0.5s
}
.inftab:hover {
    border: 4px solid #fff;
    background: #f18487;
    color: #fff;
}
.inftab td:nth-child(3) {
    font-size: 1.1em;
    font-weight: bold;
}
.inftab td {
    font-size: 1.1em
}
.mltable tr:first-child td {
    font-size: 1.2em;
    font-weight: bold;
}
.mltable tr:first-child {
    border: 4px solid lightblue;
}

input {
    width: 300px;
    height: 20px;
    border: 1px solid #f18487 !important;
}
select {
    width: 310px;
    height: 35px;
    border: 1px solid #f18487 !important;
}

/*REPORT AREA*/
.rtable {
    border: solid 1px lightblue;
}
.rtable tr:first-child {
    font-weight: bold;
    font-size: 18px !important;
    background: lightblue;
}
.rtable td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.repwrap h2, .repwrap h3, .repwrp tr td {
    text-align: center;
}
/*Login Area*/
.logbtn {
    background: linear-gradient(to left, #f3f3f3 50%, #f18487 50%);
    background-position:right bottom;
    background-size: 200% 100%;
    margin: 3.5em auto;
    color: #f18487 !important;
    transition: all 1s ease;
    width: 95%;
    height: auto;
    display: block;
    padding: 10px 5px;
    text-align: center;
    font-size: 1.2em;
    max-width: 250px;
}
.logbtn:hover {
    background-position:left bottom;
    text-decoration: none;
    color: #000 !important;
}

.log, .logpanel {
    text-align: center;
}

/*Press and Datasecurity Area*/
.presstab tr td:first-child {
    width: 25%;
    font-weight: bold;
}
.navi tr:nth-child(9), .navi tr:nth-child(10), .navi tr:nth-child(11) {
    float: left;
    margin: 20px 5px 0 0;
}
.naviRep tr:nth-child(5), .naviRep tr:nth-child(6), .naviRep tr:nth-child(7) {
    float: left;
    margin: 20px 5px 0 0;
}
.datasec {
    width: 75%;
    line-height: 30px;
}
.impdat {
    font-size: 11px;
    text-decoration: none !important;
    color: #000;
}
.impdat:hover {
    color: #f18487;
}
/*************************************************
MEDIA QUERRIES
*************************************************/
/* Phones */
@media only screen and (min-width: 375px) and (max-width: 767px) {
    #mwrap {
		width: 95%;
	}
    #contwrap {
		width: 80%;
	}
	.ppic {
    	width: 85%;
	}
	#navwrap button {
    	width: 100%;
    	font-size: 12px !important;
    	height: auto;
	}
	.offbutton {
    	width: 95%;
    	height: 95%;
    	font-size: 12px !important;
	}
	.naviRep tr:nth-child(5), .naviRep tr:nth-child(6), .naviRep tr:nth-child(7) {
    	float: left;
    	margin: 5px 3px 0 0;
	}
}
/* IPad Land */
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
    #mwrap {
		width: 95%;
	}
    #contwrap {
		width: 80%;
	}
	.ppic {
    	width: 85%;
	}
	#navwrap button {
    	width: 100%;
    	font-size: 12px !important;
    	height: auto;
	}
	.offbutton {
    	width: 95%;
    	height: 95%;
    	font-size: 12px !important;
	}
	.naviRep tr:nth-child(5), .naviRep tr:nth-child(6), .naviRep tr:nth-child(7) {
    	float: left;
    	margin: 5px 3px 0 0;
	}
}
/* IPad Port */
@media only screen and (min-width: 768px) and (max-width: 1223px) {
    #mwrap {
		width: 95%;
	}
    #contwrap {
		width: 80%;
	}
	.ppic {
    	width: 85%;
	}
	#navwrap button {
    	width: 100%;
    	font-size: 12px !important;
    	height: auto;
	}
	.offbutton {
    	width: 95%;
    	height: 95%;
    	font-size: 12px !important;
	}
	.naviRep tr:nth-child(5), .naviRep tr:nth-child(6), .naviRep tr:nth-child(7) {
    	float: left;
    	margin: 5px 3px 0 0;
	}
}
/* Laps */
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
    #contwrap {
		width: 80%;
	}
	.ppic {
    	width: 85%;
	}
	#navwrap button {
    	width: 100%;
    	font-size: 12px !important;
    	height: auto;
	}
	.offbutton {
    	width: 95%;
    	height: 95%;
    	font-size: 12px !important;
	}
	.naviRep tr:nth-child(5), .naviRep tr:nth-child(6), .naviRep tr:nth-child(7) {
    	float: left;
    	margin: 5px 3px 0 0;
	}
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    #contwrap {
		width: 81%;
	}
}

