@chrtset "UTF-8";

/**
* Author:		Team 6
* Name:			Partnerbörse XO CSS
* Version: 		1.1
*/

/*-----------RESET STYLES---------------*/

body {background: #ebebeb !important; 
    padding:0!important; 
    margin:0!important;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #f18487;
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0;
    padding: 0;
}

footer {
    height: 40px;
    width: 100%;
    background: #f18487;
    display: block;
    position: fixed;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}

/*----------- ELEMENT STYLING ---------------*/

#logo img {
    height: 70px;
}
header h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer h3 {text-align: center;}

.stitle{text-align:center;}

#mwrap, #mwrapREP {
    width: 70%;
    margin: 35px auto;
}
#navwrap {
    float: left;
    width: 13%;
    background: #fff !important;
    padding: 10px;
}
.pwrap {
    display: block;
    width: 100%;
    min-height: 250px;
    background: #fff !important;
}
.pwrap .ppic, .pwrap .pinfo, .pwrap .pbtn {
    float: left;
    padding: 10px;
}
.pinfo {
    width: 59%;
}
.pbtn {
    width: 15%;
}
.ppic {
    width: 90%;
    border: solid 5px #f18487;
    vertical-align: middle;
    padding: 2.5% !important;
}

/*Navigation Area*/

.mainnav a, .subnav a {
    text-decoration: none;
}

/*Button Area*/

button {
    width: 100%;
    height: 35px;
    margin: 5px 0 !important;
    background: lightblue !important;
    border: none !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border-radius: initial !important;
}

button:hover {background: lightgreen;}

/*Profile Pic Area*/

.ppic img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
}


/*Profile Info Area*/
#contwrap {
    float: left;
    margin-left: 2%;
    width: 82%;
    background: #fff !important;
    padding: 10px;
}
#contwrap table {
    width: 100%;
}
.itable td:nth-child(3) {
    width: 100px;
}
.itable td {
    width: 250px;
}
table.etable {
    margin: 15px 0 100px 0;
}
table.etable td {
    padding: 10px;
}

/*REPORT AREA*/
.rtable {
    border: solid 1px lightblue;
}
.rtable tr:first-child {
    font-weight: bold;
    font-size: 18px !important;
    background: lightblue;
}
.rtable td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}


